.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

input {
    background-color: transparent;
    backface-visibility: hidden;
    border-radius: 5px;
    border: 1px solid #575756;
    color: #575756;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 12px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    transform-style: preserve-3d;
    width: 50px;
}

input::placeholder {
    color: color(#575756 a(0.8));
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

input:focus,
input:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    outline: 0;
    padding: 12px;
    width: 300px;
}